.espacio_shows_especiales{
    width: 100%;
    height: 500px;
}

/* LABEL */
.contenedor_label_anuncio{
    width: 12%;
    height: 60px;
    margin-left: 3%;
    padding: 1%;
    border-radius: 10px;
    background-color: #5C708F;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.contenedor_card_especial{
    width: 80%;
    height: 300px;
    margin: 5% 9%;
    border-radius: 10px;
    background-color: #5C708F;
    color: #fff;
    display: flex;
    -webkit-box-shadow: -12px 10px 24px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 10px 24px -11px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 10px 24px -11px rgba(0, 0, 0, 0.75);
}

.contenedor_card_especial_imagen{
    width: 50%;
    background-image: url("/img/ironmaiden22024.webp");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-right: 5px solid #F3A20B;
}

.contenedor_card_especial_info{
    padding: 3%;
}

.contenedor_card_especial_info h4{
    text-transform: uppercase;
}

.contenedor_card_especial_fechas{
    margin-top: 5%;
}

.contenedor_card_especial_disponibilidad{
    width: fit-content;
    height: 50px;
    padding: 3%;
    margin-top: 15%;
    margin-left: 80%;
    border-radius: 20px;
    border: 2px solid #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #F3A20B;
}


.contenedor_card_especial_imagen_2{
    width: 50%;
    background-image: url("/img/franzferdinand224.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-right: 5px solid #F3A20B;
}
