.contenedor_cuadro{
    margin: 3% 0%;
}

.contenedor_cuadro_encabezado{
    padding: 2%;
    color: #fff;
    background-color: #5C708F;
    text-align: center;
}

.contenedor_cuadro_columnas{
    border-bottom: 5px solid #5C708F;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #5C708F;
}

.contenedor_cuadro_columnas li{
    border-right: 5px solid #5C708F;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.contenedor_cuadro_columnas span{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1%;
}